.user-img{
    transition: 500ms;
    width: 200px;
    height: 350px;
    position: relative; 
}

.user-img:hover{
    transition: 500ms;
    width: 200px;
    height: 350px;
    position: relative; 
    box-shadow: 0px 20px yellow;
}

.name1{
    position: absolute; 
    top: 215px;
    color: white;
    left:540px;
    text-shadow:3px 3px black;
}

.name2{
    position: absolute; 
    top: 215px;
    color: white;
    left: 770;
    text-shadow:3px 3px black;
}

.player-li{
    list-style: none;
    display: table-cell;
    padding: 10px;
    text-align: center;
}
